.menuWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: black;
  margin-top: 10px;
}

.search-and-basket {
  display: flex;
  justify-content: flex-end;
}

.search,
.basket,
.hamburger {
  height: 100%;
  width: 50px;
}

.basket,
.search,
.hamburger {
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
